.header{
    font-family: cursive;
    color: rosybrown;
    text-align: center;
    width: 100%;
    min-height: 4vh;
    padding-top: 3%;
    background-color: white;
}

.foto{
    border-radius: 50%;
}

.footer{
    font-family: Arial, Helvetica, sans-serif;
    position: static;
    background: whitesmoke;
    line-height: 10vh;
    text-align: center;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    background-color:whitesmoke;
    min-height: 80vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.container1spek{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    width: 30%;
    text-align: center;
    flex-basis: auto;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    min-height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.container23spek{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 30%; 
}

.container3{
    display: flex;
    flex-wrap: wrap;
    background-color:whitesmoke;
    min-height: 70vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.container4{
    display: flex;
    flex-wrap: wrap;
    min-height: 30vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;  
}

.container4spek{
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
}

.subjudul{
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
}

.isi{
    font-family: cursive;
}

p{
    font-family: cursive;
}

.logo{
    margin-right: 2vh;
    margin-left: 2vh;
}